<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="logstashConnecctionString" value="$#ADDON-logstashForwarder#$"/>
		<add key="environmentURL" value="$#PATHBASEDHOST#$.$#CLOUDHOST#$" />
	</appSettings>
	<!--
    The configuration below serves as a guideline for configuring a WCF service that is
    intended for hosting by Apprenda. The actual values in this file are used for
    local development only. Upon deployment, Apprenda will dynamically configure this
    service and any clients that communicate with it.
  -->
	<system.serviceModel>
		<bindings>
			<!--
        The netTcpBinding is the preferred binding for service communication within Apprenda for
        performance reasons.
      -->
			<netTcpBinding>
				<binding name="DefaultTcpBinding" maxReceivedMessageSize="16777216" listenBacklog="100" sendTimeout="20:00:00" receiveTimeout="20:00:00" openTimeout="20:00:00" closeTimeout="20:00:00">
					<security mode="None" />
					<readerQuotas maxArrayLength="16777216" />
				</binding>
			</netTcpBinding>
			<!--
        The basicHttpBinding is required for clients that communicate with Apprenda from the
        outside, such as Silverlight clients.
        -->
			<basicHttpBinding>
				<binding name="DefaultBasicHttpBinding" maxReceivedMessageSize="16777216" sendTimeout="20:00:00" receiveTimeout="20:00:00" openTimeout="20:00:00" closeTimeout="20:00:00">
					<security mode="None" />
					<readerQuotas maxArrayLength="16777216" />
				</binding>
			</basicHttpBinding>
		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior name="ApprendaServiceBehavior">
					<serviceThrottling maxConcurrentCalls="10000" maxConcurrentInstances="10000" maxConcurrentSessions="10000" />
					<serviceDebug includeExceptionDetailInFaults="true" />
					<serviceMetadata httpGetEnabled="False" policyVersion="Policy15" />
				</behavior>
			</serviceBehaviors>
			<endpointBehaviors>
				<behavior name="ApprendaEndpointBehavior">
					<ContextBehavior />
				</behavior>
				<behavior name="webHttpBehavior">
					<webHttp />
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<extensions>
			<behaviorExtensions>
				<!-- Used to re-construct the simulated local session information from the client. -->
				<add name="ContextBehavior" type="Apprenda.SaaSGrid.API.Local.ContextEndpointBehaviorExtension, SaaSGrid.API.Local, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
			</behaviorExtensions>
		</extensions>
		<services>
			<service name="Apprenda.ClientServices.LogStash.Services.LogStashForwarderService" behaviorConfiguration="ApprendaServiceBehavior">

				<!-- Expose an endpoint for direct communication by other services or by server-side website -->
				<endpoint address="net.tcp://localhost:40002/LogService" binding="netTcpBinding" bindingConfiguration="DefaultTcpBinding" behaviorConfiguration="ApprendaEndpointBehavior" contract="Apprenda.SaaSGrid.Extensions.ILogAggregatorExtensionService" />

				<endpoint address="net.tcp://localhost:40003/LogService" binding="netTcpBinding" bindingConfiguration="DefaultTcpBinding" behaviorConfiguration="ApprendaEndpointBehavior" contract="Apprenda.ClientServices.LogStash.Services.ILogStashForwarderService" />
				<endpoint address="http://localhost:40004/Service" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>
		</services>
	</system.serviceModel>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
